// Variables
$primary-color: #f7931e; // CipherSchools orange
$secondary-color: #272c34; // Dark gray
$bg-color: #f5f6fa;
$white: #ffffff;
$text-main: #333333;
$text-light: #666666;
$border-color: #e1e4e8;

// Breakpoints
$bp-mobile: 320px;
$bp-tablet: 641px;
$bp-laptop: 1024px;
$bp-desktop: 1281px;
